html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #f7f7f7;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.home {
    width: 80vw;
    height: 100vh;
	display: flex;
	flex-direction: column;  
}

.sparkle {
	height: 20rem;
	width: 15rem;
	position: relative;
	left: 5rem;
	top: 4rem;
	transform: rotate(-10deg);
}

.middle-section {
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.middle-section p {
	font-family: 'Poppins', sans-serif;
	font-size: 3.8rem;
	position: absolute;
	left: 11%;
	margin-top: -10rem;
	color: rgb(7, 7, 7);

	text-align: right;
	
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
.name {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #f5cb5c;
	color: #dc9596;
	font-size: 6.2rem;
	letter-spacing: 0.1rem;
}

.last-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #36aaa6;
	font-size: 4.5rem;
	letter-spacing: 0.1rem;
	
}

.pink-accent{
	color: #dc9596;
}

.blue-accent{
	color: #36aaa6;
}

.image-container {
	position: absolute;
	left: 50rem;
	margin-top: 6rem;
	margin-left: 9rem;
	z-index: 20;
	cursor: url("../assets/cursor.png"), auto;
	
}


.images{
	width: 60%;
	height: 60%;
	border-radius: 0.5rem;
	object-fit: cover;
	transition: all .5s ease-in;
	
}
.top-bar{
	/* width: 100vw;
	height: 4%;
	background-color: #f8f0ce; */
}

.image-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 4rem;
}

.noise {
	position: absolute;
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 2rem;
	
}

.img-count {
	z-index: 30;
	font-size: 2rem;
	color: #faf7e7;
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	margin-bottom: 1rem;
}

.bottom-box{
	display: flex;
	width: 100vw;
	height: 50%;
	align-items: center;
	justify-content: center;
}

.center-color-box {
	position: fixed;
	width: 85%;
	height: 40vh;
	background-color: #939ABC;
	bottom: 0;
	z-index: -1;
}

.links {
	width: 10%;
	text-align: left;
	position: absolute;
	left: 9.5rem;
	bottom: 3rem;	
}
.links li {
	padding: 1.5rem;	
}

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
.links a {
	text-decoration: none;
	font-family: 'PT Mono', monospace;
	color:black;
	/* color:#f7f7f7; */
	text-shadow: black;
	font-size: 1.6rem;	
}

.heartArrow {
	height: 50%;
	transform: rotate(-15deg);
	position:fixed;
	bottom: 0;
	padding-right: 15rem;
	z-index: 400;
	
}

.yellow-side{
	height: 25.4vh;
	width: 0.5rem;
	background-color: #f8ecb3;
	background-color: #dc9596;
	position: absolute;
	bottom: 4.3rem;
	left: 10.2rem;

}
.sun {
	height: 6rem;
	width: 6rem;
	position: absolute;
	top: 1.5rem;
	right: 10rem;
}

.click {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 4rem;
	font-weight: 600;
	position: absolute;
	left: 34rem;
	bottom: 12rem;
	letter-spacing: 0.4rem;
	transform: rotate(-15deg);	
}

.links a:hover{
	transition: all .3s ease-in;
	color: #111111;
	text-decoration: #07beb8 0.3rem solid underline;
}

.gardner {
	color: #6f8d50;
	font-weight: 550;
	
}
.gamer {
	color: #dba7db;
	font-weight: 550;
}
.reader {
	color: #07beb8;
	font-weight: 550;
	
}

.cat {
	color: #ff9766;
	font-weight: 550;
}

.enthusiast {
color: #8cad7d;
font-weight: 550;
}